body{
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}
h4{
    color: gray;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li{
    font-size: 0.9rem;
}
li::before {
    content: "✔";
    color: white;
    display: inline-block;
    size: 1em;
    width: 1em;
    background: gray;
    padding-left: 0;
    border-radius: 50%;
    margin-right: 5px;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 60vw;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    align-self: center;
}
#range{
    width: 60vw;
    height: 4px;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.cards{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: pulse;
    animation-delay: 0.2s;
    margin-top: 2rem;
}
.plan{
    border: 2px solid antiquewhite;
    border-radius: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}
.plan-price{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.price{
    margin-right: 2rem;
}
.btn1{
    height: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #7c03e6;
    color: #7c03e6;
}

.btn{
    position: relative;
    height: 56px;
}
.btn input{
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: none;
    appearance: none;
    font-weight: bold;
    box-shadow: 1px 6px 11px gray;

}
.btn input:before,
.btn input:after{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#111;
}
.btn input:before{
    content: "Monthly";
    left: 40px;

}
.btn input:after{
    content: "Yearly";
    right: 40px;
}
.btn label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom:10px;
    border-radius: 20px;
}
.btn.btn-1 input{
    transition: .2s -.1s;
}
.btn.btn-1 input:checked{
    background: #fff;
}
.btn.btn-1 input:checked:before{
    color: #111;
    transition: color .5s .2s;
}
.btn.btn-1 input:checked:after{
    color: #111;
    transition: color .5s;
}
.btn.btn-1 input:checked + label{
    left: 10px;
    right: 100px;
    background: #7c03e6;
    transition: left .5s,right .4s .2s;
}
.btn.btn-1 input:not(:checked){
    background: white;
    transition: background .5s -.1s;
}
.btn.btn-1 input:not(:checked):before{
    color: #111;
    transition: color .5s;
}
.btn.btn-1 input:not(:checked):after{
    color: #1e1e1e;
    transition: color .5s .2s;
}
.btn.btn-1 input:not(:checked) + label{
    left: 100px;
    right: 10px;
    background: #7c03e6;
    transition:  left .4s .2s,right .5s,background .35s -.1s;
}
.plan:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
    background: #7c03e6;
    color: antiquewhite;
}

@media (max-width: 360px){
    .cards{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: none;
    }
    .plan{
        margin-bottom: 1.5rem;
    }
}

